.card-nosotros{
    width: 700px;
    margin-left: 50px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px black;
    background-color:#E7E7FF ;
    @media (max-width: 768px) {
        width: 300px;
    }
}
.titulo-nosotros{
    color: black;
    text-shadow: 2px 2px 5px gray;
}